body {
	padding: 0;
	margin: 0;
	background-color: #101010;
	color: white;
	font-family: "Ubuntu", sans-serif;
}

nav {
	background-color: #303030;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #737373;
	width: auto;
}

img {
	float: left;
	margin-right: 10px;
}

#title {
	margin: 0;
	padding: 0;
	font-size: 25px;
	font-weight: 500;

	color: #c7c7c7;
}

#flexcont {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

section {
	margin-left: 15px;
	margin-top: 15px;
}

#canv {
	border: 1px solid #737373;
}

aside#one {
	width: 16%;
	min-width: 120px;
	max-height: 790px;
	margin-left: 15px;
	margin-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	background-color: #303030;
	border: 1px solid #737373;
}

#aside-title {
	font-weight: 700;
	text-align: center;
	font-size: 25px;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 15px;
}

#totalPeople {
	margin-bottom: 20px;
}

h4 {
	text-align: center;
	font-weight: 300;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

h2 {
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 0px;
}

h3 {
	text-align: center;
	font-weight: 300;
	font-size: 20px;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

#healthy {
	color: #29b6f6;
}

#sick {
	color: #ff4f4f;
}

#dead {
	color: #8f8f8f;
}

#days {
	color: #ffffff;
}

#charts {
	margin-top: 15px;
	border: 1px solid #737373;
	flex: 1;
	margin-left: 15px;
	margin-right: 15px;

	max-height: 800px;
	background-color: #303030;
	width: 10%;
	min-width: 400px;
}

#chart-one {
	margin-top: 15px;
	flex: 1;
	width: 95%;
	height: 48%;
}

#chart-two {
	margin-top: 15px;
	flex: 1;
	width: 95%;
	height: 48%;
}

button {
	border: 1px solid #737373;
	background-color: #303030;
	color: #c7c7c7;
	margin-left: 15px;
	margin-top: 15px;
	font-family: "Ubuntu", sans-serif;
	margin-right: 0px;
}

button:active {
	background-color: #777777;
}
